$border-radius: .4rem;

.page-logo, .page-sidebar, .nav-footer, .bg-brand-gradient {
  background-image: none !important;
}

.page-header {
  border: none !important;

  .header-btn {
    border: none;
    cursor: pointer;
  }
}

.page-sidebar {
  .page-logo {
    box-shadow: none;
    box-shadow: -20px 0px 28px 0px rgb(0 0 0 / 13%);
    border-bottom: none !important;
    .page-logo-text {
      font-weight: 600;
      margin-left: 1.3rem;
    }
  }

  //filter
  .nav-filter {
    input[type="text"] {
      color: var(--theme-primary);

      &:focus {
        border-color: var(--theme-primary);
      }
    }

    .btn-search-close {
      background: var(--theme-primary);
    }
  }

  // info avatar
  .info-card {
    margin-top: 8px;
    height: 3.8rem;

    .txt-username,
    .txt-location {
      text-shadow: none;
    }
    .pull-trigger-btn {
      border: none;
    }
    .cover {
      display: none;
    }
  }
  nav {

    // menu nav
    .nav-menu {
      padding: 0 0.76rem;
      li {
        a {
          font-size: $font-size-base;
          color: var(--gray);
          padding: 0.5525rem 1rem;
          margin: .66rem;
          border-radius: .76rem;

          &::before {
            content: '' !important;
          }
        }

        &.active {
          >a {
            box-shadow: none;
            color: #edf5fd  !important;
            background: var(--theme-primary)  !important;
          }

          ul {
            li {
              padding-left: .25rem;

              a {
                font-size: .825rem;
                &.router-link-active {
                  border-left: 1px dotted;
                }
              }
            }
          }

          i {
            color: #edf5fd  !important;
          }
        }

        ul {
          background-color: transparent;

          li {
            a {
              background: transparent !important;
              border-left: 1px dotted #bebebe;
              border-radius: 0 .76rem .76rem 0;
              margin: .6rem 1rem .6rem 2rem;
              padding: 0.3525rem .6rem;
              &:hover {
                color: var(--theme-primary-500) !important;
              }
            }
          }
        }

        &.open {
          ul {
            border-radius: .76rem;
          }
        }
      }

      .nav-title {
        color: var(--gray);
      }
    }
  }
}

// content
.subheader {
  margin-bottom: 1rem !important;
  .subheader-title {
    font-size: 1.15rem;
  }
}

.panel {
  border-radius: $border-radius;
  padding: .6rem;
  border: none;

  .panel-hdr {
    border-radius: $border-radius $border-radius 0 0;
  }
}

.table {
  thead {
    tr {
      th {
        &:first-child{
          border-radius: .6rem 0 0 .6rem;
        }
        &:last-child{
          border-radius: 0 .6rem .6rem 0;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        box-shadow: 0px 0px 3px 0px rgb(86 61 124 / 13%);
        // border-radius: .6rem;
        // td {
        //   &:first-child{
        //     border-radius: .6rem 0 0 .6rem;
        //   }
        //   &:last-child{
        //     border-radius: 0 .6rem .6rem 0;
        //   }
        // }
      }
    }
  }
}

.rounded {
  border-radius: $border-radius !important;
}
.btn {
  border-radius: $border-radius;
}

.shortcut-menu {
  .menu-item {
    border-radius: 50%;
  }
}

.input-group {
  // &.group-date {

  // }
  &:not(.input-group-append),
  &:not(.input-group-prepend) {
    .btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
    }
  }
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  border-radius: calc(#{$border-radius}/1.25) !important;
}

td {
  .btn-group-xs > .btn, .btn-xs {
     margin: .15rem 0;
  }
}

.pagination {
  .page-item {
    .page-link {
      border-radius: $border-radius !important;
    }
  }
}

.mod-skin-dark {
  .e-treeview {
    .e-list-text {
      color: var(--theme-light);
    }
  }
}

.panel {
  border-radius: .5rem;
}


// LOGIN FORM
@media(min-width: 992px) {
  .login-container {
    max-width: 1240px
  }
}
.login-container {
  .klik-btn .read, .klik-btn .read:hover, .klik-btn .read:focus, .klik-btn .read:active{
    background: transparent !important;
    color: transparent !important;
    border: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }

  .zoomed-in {
    .panel-hdr {
      background-color: transparent;
      >h2 {
        color: var(--theme-light)
      }
    }

    transition: all ease-in .3s;
    position: absolute;
    transform: scale(1.06);
    left: 20px;
    border-radius: 0.6rem;
    border: none;
    box-shadow: 0 0 13px 0 rgb(62 44 90 / 8%);
    margin-bottom: 1.3rem;
    background-color: var(--theme-primary);
    color: var(--theme-light);

    >#panel-container-information {
      transform: scale(.99);
    }
  }

}

.nav-function-minify {
  .page-sidebar {
    nav {
      .nav-menu {
        padding: 0;
        li {
          a {
            .nav-link-text {
              width: 17.5rem !important;
              left: 4.8875rem !important;
            }
          }
          a+ul {
            padding-top: 2.7rem !important;
            width: 17.5rem !important;
          }
        }
      }
    }
  }
}
